@use "variable";

@mixin display-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-beetwen() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin display-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin display-evenly() {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
