$primary-color: #076f9f;
$secondary-color: #015a86af;
$color-gray: #c6c6c6;
$color-white: #eef6e6;
$color-black: #020701;

%color-white {
  color: #eef6e6;
}

/*:root {
  --primary-color: #baff39;
  --secondary-color: #6e6e6e;
  --color-gray: #c6c6c6;
  --color-white: #eef6e6;
  --color-black: #020701;
}*/
