@use "../abstracts/mixins";

$primary-color: #076f9f;
$color-white: #eef6e6;

.footer {
  width: 100%;
  height: 30px;
  color: $color-white;
  @include mixins.display-center;
  font-size: 0.7rem;

  background-color: $primary-color;
}
