* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #baff39;
  --secondary-color: #6e6e6e;
  --color-gray: #c6c6c6;
  --color-white: #eef6e6;
  --color-black: #020701;
}
